@charset "UTF-8";

/* Responsividade */
@media screen and (max-width: 867px) {


    .flex-equipe {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .equipes {
        margin-right: 35px;
    }

}

@media screen and (max-width: 600px) {
    
    #contato {
        display: block;
    }

    #rede-social {
        display: block;
        width: 100%;
    }

    #rede-social img {
        width: 15%;
    }

    #formulario {
        display: block;
        width: 100%;
    }

}

@media  screen and (max-width: 477px) {
    
    /* Seção home */
    .caixa-msg {
        text-align: center;
    }

    .caixa-msg h1 {
        font-size: 2.6em;
        text-align: left;
    }

    /* Estilo do menu */
    header#cabecalho nav#menu {
        background-color: var(--bg-primary);
        display: none; 
    }

    header#cabecalho nav#menu ul {
        margin: 0;
        padding: 0;
        background-color: var(--bg-primary);
    }

    header#cabecalho nav#menu li {
        display: block;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
    }

    #icone-mobile {
        display: block;
        text-align: right;
        margin-right: 30px;
    }

    div#menu-mobile ul {
        width: 100vw;
        height: 100vh;
        list-style: none;
        text-align: center;
    }
}